.div0{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.div{
    width: 80%;
}

.orList{
    background-color: lightgray;
    border-radius: 5px;
}