.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 3.2rem;
}

.container div{
    cursor: pointer;
}

.container span{
    margin:0.5rem;
    padding: 0.5rem;
    font-weight: 700;
    color:#333333;
}
