
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 33%;
  font-size: 1.5rem;
}

.navLink {
  font-size: 1.7rem;
  cursor:pointer;
}

.cartLink{
  position: absolute;
  top: 30px;
  left: 248%;
}

.cartLink2{
  position: absolute;
  top: 30px;
  left: 248%;
}

.cart{
  color: white;
  font-size: 2rem;
}

.logo span {
  font-size: 1.5rem;
  font-weight: 700;
}

.trapecio {
  width: 188px;
    height: 0px;
    border-right: 0px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 80px solid white;
    position: absolute;
    top: 0;
    left: 86%;
}
